.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    

}
.imgibox h2{
    display:none;
}


.hero-img img{
        background-image: url("/src/images/pfp_webp.webp");
        width: 300px;
        z-index: 5;
        height: 23rem;
        margin: 30px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: 3px solid rgb(102, 51, 153);
        box-shadow: 0 0 50px 15px #663399;
      
      
        animation: morph 8s ease-in-out infinite;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        position: relative;
        transition: all 1s ease-in-out;
      }
      
      @keyframes morph {
        0% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
      
        50% {
          border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
      
        100% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
 }

.textContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding-top: 80px;
   
}

.imgibox h2{
    font-size: 25px;
    color: rebeccapurple;
    letter-spacing: 10px;
}

.Name{
    font-size: 25px;
    color: rebeccapurple;
    letter-spacing: 10px;
}

.textContainer h1{
    font-size: 40px;
    
}
.slidingTextContainer{
    position:fixed;
}
.textContainer .buttons{
    display: flex;
    gap: 30px;
    
}

.textContainer .buttons button{
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
   
}
.textContainer .buttons button:hover{
    background-color: white;
    color: black;
}
.wrapper1{
    width: 600px;
}

.textContainer img{
    width: 50px;
    cursor: pointer;
    
}

.textContainer span{
    font-size: 20px;
    color: rgb(175, 175, 175);
}

.slidingTextContainer{

position: absolute;
font-size: 30vh;
bottom:-180px;
white-space: nowrap;
color: #ffffff09;
max-width: 50%;
font-weight: bold;

}

.TechStackicon{
    display: flex;
    gap: 30px;

}

@media screen and (max-width: 768px) {
    .hero {
      display: flex;
      flex-direction: column-reverse;
      height: calc(100vh - 100px);
      justify-content:start;
     
      
    }
    .hero-img{
        align-items: center;
        align-self: center;
    }
    .hero-img img{
        width: 130px;
        height: 150px;

    }
    .textContainer{
        width: 350px;
        padding: 20px;

    }
    .textContainer h2{
       font-size: 19px;
       align-self: center;
       border-bottom: 1px solid purple;

    }
    .textContainer h1{
        font-size: 25px;
        align-self: center;
 
     }
     .textContainer span{
        font-size: 18px;
        align-self: center;
        text-align: center;
 
     }
     .textContainer .buttons{
        display: flex;
        gap: 5px;
        width: 100%;
        margin-left: 15px;
        
    }
    
    .textContainer .buttons button{
        padding: 13px 8px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        font-weight: 600;
        cursor: pointer;
       
    }
    .TechStackicon{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
       
    }
    .imgibox{
        display: flex;
        align-items: center;
        
        
    }
    .imgibox h2{
        font-size: 25px;
        display: inline;
        
        
    }
    .TechStackicon img{
       width: 30px;
    }
    .wrapper1{
        width: 250px;
    }
    .Name{
        display: none;
    }
    
    


  }